.navegacion{
 border: dotted red 1px;;
}
.navegacion ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    height: 55px;
}
.navegacion li {
    background-color: brown;
    padding: 20px;
}